{:paths ["src/clj" "src/cljc" "resources" "target/cljsbuild"]
 :aliases {:run
           {:jvm-opts ["-Dconf=dev-config.edn"]
            :extra-paths ["env/dev/clj" "env/dev/resources"]
            :extra-deps {cider/cider-nrepl  {:mvn/version "0.25.6"}
                         nrepl/nrepl        {:mvn/version "0.8.3"}}
            :main-opts ["-m" "vorstellung.core"]}
           :test
           {:jvm-opts ["-Dconf=test-config.edn"]
            :extra-paths ["test/clj" "env/test/resources" "env/test/clj" "env/test/resources"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}
                         ;;lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}
                         ring/ring-devel     {:mvn/version "1.8.1"}
                         ring/ring-mock      {:mvn/version "0.4.0"}}
            :main-opts  ["-m" "kaocha.runner"]}
           :uberjar
           {:extra-deps  {seancorfield/depstar {:mvn/version "2.0.160"}}
            :exec-fn       hf.depstar/uberjar
            :exec-args     {:jar        "target/vorstellung.jar"
                            :aot        true
                            :aliases    [:prod]
                            :main-class vorstellung.core}}
           :prod
           {:extra-paths ["env/prod/clj" "env/prod/resources"]}
           :uberdeps
           {:extra-paths ["env/prod/clj" "env/prod/resources"]
            :extra-deps {uberdeps/uberdeps {:mvn/version "1.0.0"}}
            :main-opts  ["-m" "uberdeps.uberjar" "--target" "target/vorstellung.jar"]}}

 :deps {buddy/buddy-auth                            {:mvn/version "2.2.0"}
        buddy/buddy-core                            {:mvn/version "1.6.0"}
        buddy/buddy-hashers                         {:mvn/version "1.4.0"}
        buddy/buddy-sign                            {:mvn/version "3.1.0"}
        ch.qos.logback/logback-classic              {:mvn/version "1.2.3"}
        cheshire/cheshire                           {:mvn/version "5.10.0"}
        clojure.java-time/clojure.java-time         {:mvn/version "0.3.2"}
        com.cognitect/transit-clj                   {:mvn/version "1.0.324"}
        com.fasterxml.jackson.core/jackson-core     {:mvn/version "2.11.2"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.11.2"}
        conman/conman                               {:mvn/version "0.9.0"}
        cprop/cprop                                 {:mvn/version "0.1.17"}
        expound/expound                             {:mvn/version "0.8.5"}
        funcool/struct                              {:mvn/version "1.4.0"}
        luminus-migrations/luminus-migrations       {:mvn/version "0.6.7"}
        luminus-http-kit/luminus-http-kit           {:mvn/version "0.1.8"}
        luminus-transit/luminus-transit             {:mvn/version "0.1.2"}
        luminus/ring-ttl-session                    {:mvn/version "0.3.3"}
        markdown-clj/markdown-clj                   {:mvn/version "1.10.5"}
        metosin/jsonista                            {:mvn/version "0.2.6"}
        metosin/muuntaja                            {:mvn/version "0.6.7"}
        metosin/reitit                              {:mvn/version "0.5.5"}
        metosin/ring-http-response                  {:mvn/version "0.9.1"}
        mount/mount                                 {:mvn/version "0.1.16"}
        org.clojure/clojure                         {:mvn/version "1.10.1"}
        org.clojure/core.async                      {:mvn/version "1.2.603"}
        org.clojure/tools.cli                       {:mvn/version "1.0.194"}
        org.clojure/tools.logging                   {:mvn/version "1.1.0"}
        org.webjars.npm/bulma                       {:mvn/version "0.9.0"}
        org.webjars.npm/material-icons              {:mvn/version "0.3.1"}
        org.webjars/webjars-locator                 {:mvn/version "0.40"}
        ring-webjars/ring-webjars                   {:mvn/version "0.2.0"}
        org.xerial/sqlite-jdbc                      {:mvn/version "3.32.3"}
        ring/ring-core                              {:mvn/version "1.8.1"}
        ring/ring-defaults                          {:mvn/version "0.3.2"}
        selmer/selmer                               {:mvn/version "1.12.28"}
        ring/ring-devel                             {:mvn/version "1.8.1"}
        prone/prone                                 {:mvn/version "2020-01-17"}}}
