;; WARNING
;; The dev-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:dev true
 :port 3030
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7070
 :database-url "jdbc:mysql://mysql.kimi.im:3306/vorstellung?useSSL=false&requireSSL=false&characterEncoding=utf8&serverTimezone=UTC&user=root&password=123456"
 }
