{:nrepl {:port 7002},
 :source-paths ["src/cljs" "env/dev/cljs"]
 :dependencies [[cljs-ajax "0.8.0"]
                [re-frame "1.1.2"]
                [reagent "1.0.0-rc1"]
                [metosin/reitit "0.5.5"]
                [day8.re-frame/http-fx "0.1.6"]
                [markdown-clj "1.10.5"]
                [luminus-transit "0.1.2"]
                [nrepl "0.8.0"]
                ;; dev
                [binaryage/devtools "1.0.2"]
                [cider/piggieback "0.5.0"]
                [pjstadig/humane-test-output "0.10.0"]
                [prone "2020-01-17"]
                [re-frisk "1.3.4"]
                [ring/ring-devel "1.8.1"]
                [ring/ring-mock "0.4.0"]
                [cider/cider-nrepl "0.25.4"]]
 :builds
 {:app {:target :browser,
        :output-dir "target/cljsbuild/public/js",
        :asset-path "/js",
        :modules {:app {:entries [vorstellung.app]}},
        :devtools {:watch-dir "resources/public",
                   :preloads [re-frisk.preload]},
        :dev {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}},
  :login {:target :browser,
          :output-dir "target/cljsbuild/public/js",
          :asset-path "/js",
          :modules {:login {:entries [vorstellung.login]}},
          :devtools {:watch-dir "resources/public", :preloads [re-frisk.preload]},
          :dev {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}},
  :charts {:target :browser,
           :output-dir "target/cljsbuild/public/js",
           :asset-path "/js",
           :modules {:charts {:entries [vorstellung.charts]}},
           :devtools {:watch-dir "resources/public", :preloads [re-frisk.preload]},
           :dev {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}},
  :icons {:target :browser,
          :output-dir "target/cljsbuild/public/js",
          :asset-path "/js",
          :modules {:icons {:entries [vorstellung.icons]}},
          :devtools {:watch-dir "resources/public",
                     :preloads [re-frisk.preload]},
          :dev {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}},
  :material {:target :browser,
             :output-dir "target/cljsbuild/public/js",
             :asset-path "/js",
             :modules {:material {:entries [vorstellung.material]}},
             :devtools {:watch-dir "resources/public",
                        :preloads [re-frisk.preload]},
             :dev {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}},
  :test {:target :node-test,
         :output-to "target/test/test.js",
         :autorun true}}}
